// color variable
$first_color: #ffeadb;
$second_color: #ff9a76;
$third_color: #679b9b;
$fourth_color: #637373;

$body_text: 16px;
$title_1_fontsize: 32px;
$title_2_fontsize: 42px;
$title_3_fontsize: 80px;

$ExtraBold: 800;
$SemiBold: 600;
$Light: 300;
$SemiBoldItalic: 600;
$LightItalic: 300;

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/* Spin */
.cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;

    &--show {
        display: block;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

/* Loading */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
}

.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}

.temp {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 102;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #ff5722;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}

#container {
    max-width: 1920px;
}

.notify-popup {
    // animation: slide 1s ease 3.5s forwards;

    &--hidden {
        height: 0;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
    }

    position: fixed;
    z-index: 10;
    top: 10vh;
    left: 15vw;
    width: 70vw;
    height: 80vh;
    background: $first_color;
    padding: 30px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
    opacity: 1;

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    &-text {
        background: #ffffff;
        box-shadow: 0px 0px 140px rgba(19, 39, 58, 0.19);
        padding: 20px 30px;
        border-radius: 5px;

        p {
            text-align: center;
            font-weight: $Light;
            font-size: 20px;
        }
    }

    &-form {
        p {
            text-align: center;
            font-size: 24px;
            font-weight: 700;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 120%;
                color: #000000;
                opacity: 0.6;
                border: none;
                padding: 15px 10px;
                width: 50%;
            }

            button {
                display: block;
                margin-top: 30px;
                width: 30%;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 120%;
                text-align: center;
                color: #ffffff;
                padding: 15px 10px;
                border: none;

                background-color: $second_color;
                text-decoration: none;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
            }
        }
    }
}

/* Notify modal */
.notify-modal {
    position: fixed;
    z-index: 10;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
    background: $first_color;
    padding: 30px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 5px;
    transition: 0.5s;

    &--hidden {
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }

        button {
            display: block;
            margin-top: 30px;
            width: 30%;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #ffffff;
            padding: 15px 10px;
            border: none;

            background-color: $second_color;
            text-decoration: none;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: $first_color;
}

.header__container {
    position: relative;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    display: flow-root;
    background-color: $fourth_color;
    background-image: url('../images/background_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .header__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;

        background-color: #679b9b;
        opacity: 0.3;
    }

    .header__audio-loop-block {
        position: absolute;
        width: calc((500 / 1366) * 100%);
        height: calc((318 / 765) * 100%);
        margin-left: calc((103 / 1366) * 100%);
        margin-top: calc((186 / 1366) * 100%);
        z-index: 3;

        h1 {
            color: white;
            font-weight: $ExtraBold;
            font-size: $title_3_fontsize;
            font-family: 'Nunito', Arial, Helvetica, sans-serif;
            margin: 28px 0px;
        }

        p {
            color: white;
            font-weight: $SemiBold;
            font-size: 28px;
            max-width: 500px;
            // text-align: center;
        }

        .header__button-container {
            display: flex;
            // flex-wrap: wrap;

            .header__download-btn {
                display: flex;
                // flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                background-color: $second_color;
                text-decoration: none;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 5px;

                // width: calc((189 / 500) * 100%);
                // height: calc((68 / 318) * 100%);
                margin-right: calc((30 / 500) * 100%);
                padding: 0px 16px;

                img {
                    width: 35px;
                    height: 35px;
                    display: block;

                    margin-right: 16px;
                }

                p {
                    display: block;
                    color: white;
                    font-weight: $Light;
                    font-size: 16px;

                    span {
                        font-weight: $SemiBold;
                    }
                }
            }
        }
    }
}

.dyk__container {
    position: relative;
    z-index: 1;
    display: flow-root;
    background-color: white;

    .dyk__head {
        display: flex;
        justify-content: center;

        .dyk__title {
            position: relative;
            z-index: -1;

            display: inline-block;
            color: black;
            font-size: 42px;
            font-weight: $SemiBold;
            text-align: center;
            margin-top: 110px;

            .dyk__circle-shape {
                position: absolute;
                bottom: 0px;
                left: -40px;
                z-index: -10;

                width: 61px;
                height: 61px;
                border-radius: 50%;

                background-color: $second_color;
            }
        }
    }

    .dyk__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 50px 100px 100px 100px;

        .dyk__card {
            flex-basis: 20%;
            min-width: 170px;
            margin-bottom: 30px;
            text-align: center;

            .dky__card-number {
                color: $second_color;
                font-size: 42px;
            }

            .dyk__card-text {
                font-size: $body_text;
                color: black;
            }
        }
    }

    .dyk__footer {
        background-color: $second_color;
        text-align: center;
        padding: 30px 42px;

        .dyk__footertext {
            color: white;
            font-size: 20px;
            font-style: italic;

            strong,
            b {
                font-weight: $ExtraBold;
            }
        }
    }
}

.mf__container {
    position: relative;
    z-index: 1;
    display: flow-root;
    background-color: white;
    padding-bottom: 25px;

    .mf__head {
        display: flex;
        justify-content: center;

        .mf__title {
            position: relative;
            z-index: 1;

            display: inline-block;
            color: black;
            font-size: 42px;
            font-weight: $SemiBold;
            text-align: center;
            margin-top: 168px;

            .mf__circle-shape {
                position: absolute;
                z-index: -10;
                bottom: 0px;
                left: -40px;
                width: 61px;
                height: 61px;
                border-radius: 50%;

                background-color: $second_color;
            }
        }
    }

    .mf__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 40px;
        padding: 0px 41px;

        &:nth-of-type(odd) {
            flex-direction: row-reverse;
            .mf__img {
                .mf__img-container {
                    margin-left: auto;
                    img {
                    }
                    .mf__img-overlay {
                        transform: translate(-25px, 25px);
                    }
                }
            }
            .mf__text {
                .mf__text-wrapper {
                    margin-left: auto;
                }
            }
        }

        .mf__img {
            flex-basis: 50%;
            min-width: 200px;

            .mf__img-container {
                width: calc((547 / 645) * 100%);
                position: relative;

                img {
                    display: block;
                    width: calc((547 / 645) * 100%);
                    height: auto;
                    position: relative;
                    z-index: 3;
                }

                .mf__img-overlay {
                    width: calc((547 / 645) * 100%);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    background-color: #ffeadb;
                    transform: translate(25px, 25px);
                }
            }
        }

        .mf__text {
            flex-basis: 50%;

            .mf__text-wrapper {
                width: calc((484 / ((1366 - 41 * 2) / 2)) * 100%);

                .mf__feature-name {
                    color: black;
                    font-size: $title_1_fontsize;
                    font-weight: $SemiBold;
                }

                .mf__feature-description {
                    color: #637373;
                    font-size: $body_text;
                    font-weight: $Light;
                }
            }
        }
    }
}

.of__container {
    z-index: 1;
    display: flow-root;
    background-color: #fffbf7;
    position: relative;
    padding-bottom: 134px;

    .of__head {
        display: flex;
        justify-content: center;

        .of__title {
            position: relative;
            z-index: 1;
            z-index: 3;

            display: inline-block;
            color: black;
            font-size: 42px;
            font-weight: $SemiBold;
            text-align: center;
            margin-top: 89px;

            .of__circle-shape {
                position: absolute;
                z-index: -10;
                bottom: 0px;
                left: -40px;

                width: 61px;
                height: 61px;
                border-radius: 50%;

                background-color: $second_color;
            }
        }
    }

    .of__card-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content: space-around;

        .of__card {
            flex-basis: 22%;
            min-width: 300px;
            margin-bottom: 30px;
            background: #ffffff;
            box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.08);
            border-radius: 7.5px;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            img {
            }

            h3 {
                color: black;
                text-align: center;
                font-weight: $SemiBold;
                font-size: 28px;
            }

            p {
                font-size: $body_text;
                color: #637373;
                font-weight: $Light;
                text-align: center;
                font-style: italic;
            }
        }
    }
}

.ba__container {
    background-image: url('../images/background_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 37vw;

    .ba__text-block {
        position: absolute;
        top: calc(122 / 765 * 100%);
        right: calc(105 / 1366 * 100%);

        .ba__title {
            color: white;
            font-size: $title_3_fontsize;
            font-weight: $ExtraBold;
            margin-bottom: 14px;
        }

        .ba__description {
            color: white;
            font-size: 28px;
            font-weight: $Light;
        }
    }
}

// Memeber List (me) namespaces
.me__container {
    background-color: #fffbf7;
    width: 100%;
    padding: 150px;

    .me__head {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        .me__title {
            position: relative;
            z-index: 1;
            bottom: 0px;
            margin-bottom: 0px;
            display: inline-block;

            color: black;
            font-size: 42px;
            font-weight: $SemiBold;
            text-align: center;

            .me__circle-shape {
                position: absolute;
                bottom: 0px;
                left: -40px;
                z-index: -10;
                width: 61px;
                height: 61px;

                border-radius: 50%;
                background-color: $second_color;
            }
        }
    }

    .me__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .me__card {
            flex-basis: 25%;
            min-width: 248px;
            // max-width: calc((248 / 1366) * 100%);
            padding: 34px;

            &:hover {
                background: #ffffff;
                box-shadow: 2px 2px 30px 4px rgba(255, 154, 118, 0.25);
                border-radius: 10px;
            }

            &:hover .me__card-action {
                visibility: visible;
                opacity: 1;
            }

            .me__card-avatar {
                img {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    margin: 0 auto;
                    display: block;
                }
            }

            .me__card-member-name {
                color: black;
                font-size: 20px;
                font-weight: $SemiBold;
                text-align: center;
                margin-bottom: 8px;
            }

            .me__card-member-role {
                color: black;
                font-size: 16px;
                font-weight: $Light;
                font-style: italic;
                text-align: center;
                margin-bottom: 14px;
            }

            .me__card-action {
                transition: visibility 0.3s linear, opacity 0.3s linear;
                visibility: hidden;
                opacity: 0;
                display: flex;
                justify-content: center;

                .me__card-icon {
                    &:nth-child(2n + 1) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.survey-container {
    width: 100%;
    background-color: $second_color;
    padding: 30px 100px;
    border-radius: 10px;
    margin-top: 50px;

    .survey-description {
        color: white;
        font-size: 24px;
        font-weight: $SemiBold;
        text-align: center;
    }

    .survey-button {
        display: block;
        width: 20%;
        text-decoration: none;
        text-align: center;
        font-size: $body_text;
        color: black;
        background-color: white;
        padding: 10px 30px;
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffeadb;
    width: 100%;
    padding: 33px 57px;

    .footer__left {
        width: 50%;

        .footer__app-name {
            color: #333;
            font-size: 42px;
            font-weight: $SemiBold;
            margin-bottom: 15px;
        }

        .footer__app-description {
            color: #333;
            font-size: 20px;
            font-weight: $SemiBold;
            width: 70%;
        }

        .footer__trademark {
            display: flex;

            img {
                transform: scale(0.8);
            }
        }
    }

    .footer__right {
        width: 50%;

        .footer__contact {
            .footer__contact-title {
                color: #333;
                font-size: 42px;
                font-weight: $SemiBold;
                margin-bottom: 15px;
            }

            .footer__contact-description {
                color: #333;
                font-size: 20px;
                font-weight: $SemiBold;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .footer__form-col-1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;

                input {
                    width: 100%;
                    height: 42px;
                    background: #fffbf7;
                    border-style: none;
                    border-radius: 2.5px;
                    font-size: 12px;
                    padding: 13px;
                }
            }

            .footer__form-col-2 {
                width: 35%;

                textarea {
                    width: 100%;
                    height: 98px;
                    background: #fffbf7;
                    border-style: none;
                    border-radius: 2.5px;
                    font-size: 12px;
                    padding: 13px;
                }
            }

            .footer__form-col-3 {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 10%;

                button {
                    width: 100%;
                    border-style: none;
                    background: #ff9a76;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
                    border-radius: 2.5px;

                    font-weight: $SemiBold;
                    font-size: 14px;
                    line-height: 19px;
                    color: white;
                    padding: 3px 7px;
                    height: 42px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header__audio-loop-block {
        width: 50%;
    }

    .header__download-btn {
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .header__container {
        .header__overlay {
        }

        .header__audio-loop-block {
            width: 70%;

            h1 {
            }

            p {
            }

            .header__button-container {
                .header__download-btn {
                    width: auto;
                    padding: 0px 15px;
                    img {
                        margin: 0px 10px 0px 0px;
                    }
                    p {
                        span {
                        }
                    }
                }
            }
        }
    }

    .survey-container {
        .survey-button {
            width: 50%;
        }
    }
}

@media screen and (max-width: 800px) {
    .notify-popup {
        &-form {
            form {
                input {
                    width: 80%;
                }
            }
        }
    }
    .header__container {
        .header__overlay {
        }

        .header__audio-loop-block {
            width: 100%;
            margin-top: 0;
            margin-left: 0;
            padding: 10px;
            padding-top: 165px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 60px;
            }

            p {
            }

            .header__button-container {
                .header__download-btn {
                    width: auto;
                    padding: 0px 15px;
                    img {
                        margin: 0px 10px 0px 0px;
                    }
                    p {
                        span {
                        }
                    }
                }
            }
        }
    }

    .survey-container {
        padding: 30px;
    }

    .survey-embed {
        .survey-cover {
            iframe {
                width: 100%;
            }
        }
    }

    .footer__app-name {
        text-align: center;
    }

    .footer__app-description {
        width: 100% !important;
        text-align: center;
        margin: 20px 0px;
    }

    .footer__trademark {
        display: flex;

        img {
            margin: 0 auto;
        }
    }
}

.survey-embed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    &--hidden {
        display: none;
    }

    .survey-cover {
        position: relative;

        .survey-embed-close {
            img {
                position: absolute;
                top: 0;
                left: calc(50vw - 15px);
                display: block;
                margin: 0 auto;
                cursor: pointer;
            }
        }

        iframe {
            display: block;
            margin: 0 auto;
            background-color: $first_color;
            height: 100vh;
        }
    }
}

.survey-embed-cover {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;

    &--hidden {
        display: none;
    }
}

.modal-cover1 {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;

    &--hidden {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .notify-popup {
        width: 90vw;
        left: 5vw;
        top: 5vh;
        height: auto;

        &-form {
            form {
                button {
                    width: auto;
                }
            }
        }
    }
    .header__container {
        max-width: 100%;
        width: 100%;
        height: 500px;
        background-color: $fourth_color;
        background-position: center;

        .header__overlay {
        }

        .header__audio-loop-block {
            height: 100%;

            h1 {
                font-size: 50px;
                text-align: center;
            }

            p {
                font-size: 20px;
                text-align: center;
            }

            .header__button-container {
                justify-content: space-around;

                .header__download-btn {
                    flex-basis: 45%;
                    margin-right: 0;
                    padding: 0 3px;

                    img {
                        margin: 0;
                    }
                    p {
                        font-size: 14px;
                        span {
                        }
                    }
                }
            }
        }
    }

    .dyk__container {
        .dyk__head {
            .dyk__title {
                margin-top: 60px;

                .dyk__circle-shape {
                }
            }
        }

        .dyk__card-container {
            margin: 26px 42px 60px 42px;

            .dyk__card {
                .dky__card-number {
                }

                .dyk__card-text {
                }
            }
        }

        .dyk__footer {
            .dyk__footertext {
                font-size: 16px;
                strong,
                b {
                }
            }
        }
    }

    .mf__container {
        .mf__head {
            .mf__title {
                margin-top: 60px;
                .mf__circle-shape {
                }
            }
        }

        .mf__row {
            &:nth-of-type(odd) {
                .mf__img {
                    .mf__img-container {
                        .mf__img-overlay {
                        }
                    }
                }
            }

            .mf__img {
                flex-basis: 100%;
                margin-bottom: 30px;
                .mf__img-container {
                    width: 100%;

                    img {
                    }

                    .mf__img-overlay {
                    }
                }
            }

            .mf__text {
                flex-basis: 100%;
                text-align: center;

                .mf__text-wrapper {
                    width: 100%;
                    .mf__feature-name {
                        font-size: 28px;
                    }

                    .mf__feature-description {
                    }
                }
            }
        }
    }

    .of__container {
        padding-bottom: 60px;

        .of__head {
            .of__title {
                margin-top: 60px;
            }
        }

        .of__card-container {
            margin-top: 26px;
        }
    }

    .ba__container {
        background-image: url('../images/background_2.png');
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-size: cover;
        background-position: center;
        height: 100vw;

        .ba__text-block {
            position: static;
            width: 80%;
            .ba__title {
                color: white;
                font-size: 24px;
                font-weight: $ExtraBold;
                margin-bottom: 14px;
            }

            .ba__description {
                color: white;
                font-size: 16px;
                font-weight: $Light;
            }
        }
    }

    .me__container {
        padding: 60px 10px;

        .me__head {
            .me__title {
            }
        }

        .me__card-container {
        }

        .survey-container {
            padding: 30px 0px;

            .survey-description {
            }

            .survey-button {
                width: 50%;
            }
        }
    }

    .footer {
        flex-direction: column-reverse;
        padding: 10px;

        .footer__left {
            width: 100%;

            .footer__app-description {
                width: 100%;
            }
        }

        .footer__right {
            width: 100%;

            form {
                div {
                    margin-bottom: 30px;
                }

                .footer__form-col-1 {
                    width: 100%;
                    margin-bottom: 0px;

                    input {
                        margin-bottom: 30px;
                    }
                }

                .footer__form-col-2 {
                    width: 100%;
                }

                .footer__form-col-3 {
                    width: 100%;
                }
            }
        }
    }
}
