* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  background-color: #ffeadb; }

.header__container {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 735px;
  z-index: 1;
  display: flow-root;
  background-color: #637373;
  background-image: url("../images/background_1.png");
  background-size: cover; }
  .header__container .header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #679b9b;
    opacity: 0.3; }
  .header__container .header__audio-loop-block {
    position: absolute;
    width: calc((500 / 1366) * 100%);
    height: calc((318 / 765) * 100%);
    margin-left: calc((103 / 1366) * 100%);
    margin-top: calc((186 / 1366) * 100%);
    z-index: 3; }
    .header__container .header__audio-loop-block h1 {
      color: white;
      font-weight: 800;
      font-size: 80px;
      font-family: Nutr; }
    .header__container .header__audio-loop-block p {
      color: white;
      font-weight: 600;
      font-size: 28px;
      text-align: center; }
    .header__container .header__audio-loop-block .header__button-container {
      display: flex;
      flex-wrap: wrap; }
      .header__container .header__audio-loop-block .header__button-container .header__download-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        background-color: #ff9a76;
        text-decoration: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: calc((189 / 500) * 100%);
        height: calc((68 / 318) * 100%);
        margin-right: calc((30 / 500) * 100%); }
        .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
          width: 35px;
          height: 35px;
          display: block;
          margin: 0 21px; }
        .header__container .header__audio-loop-block .header__button-container .header__download-btn p {
          display: block;
          color: white;
          font-weight: 300;
          font-size: 16px; }
          .header__container .header__audio-loop-block .header__button-container .header__download-btn p span {
            font-weight: 600; }

.dyk__container {
  position: relative;
  z-index: 1;
  display: flow-root;
  background-color: white; }
  .dyk__container .dyk__head {
    display: flex;
    justify-content: center; }
    .dyk__container .dyk__head .dyk__title {
      position: relative;
      z-index: -1;
      display: inline-block;
      color: black;
      font-size: 42px;
      font-weight: 600;
      text-align: center;
      margin-top: 110px; }
      .dyk__container .dyk__head .dyk__title .dyk__circle-shape {
        position: absolute;
        bottom: 0px;
        left: -40px;
        z-index: -10;
        width: 61px;
        height: 61px;
        border-radius: 50%;
        background-color: #ff9a76; }
  .dyk__container .dyk__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px; }
    .dyk__container .dyk__card-container .dyk__card {
      flex-basis: 20%;
      min-width: 170px;
      margin-bottom: 30px;
      text-align: center; }
      .dyk__container .dyk__card-container .dyk__card .dky__card-number {
        color: #ff9a76;
        font-size: 42px; }
      .dyk__container .dyk__card-container .dyk__card .dyk__card-text {
        font-size: 16px;
        color: black; }
  .dyk__container .dyk__footer {
    background-color: #ff9a76;
    text-align: center;
    padding: 47px 0; }
    .dyk__container .dyk__footer .dyk__footertext {
      color: white;
      font-size: 20px;
      font-style: italic; }
      .dyk__container .dyk__footer .dyk__footertext strong,
      .dyk__container .dyk__footer .dyk__footertext b {
        font-weight: 800; }

.mf__container {
  position: relative;
  z-index: 1;
  display: flow-root;
  background-color: white;
  padding-bottom: 25px; }
  .mf__container .mf__head {
    display: flex;
    justify-content: center; }
    .mf__container .mf__head .mf__title {
      position: relative;
      z-index: 1;
      display: inline-block;
      color: black;
      font-size: 42px;
      font-weight: 600;
      text-align: center;
      margin-top: 168px; }
      .mf__container .mf__head .mf__title .mf__circle-shape {
        position: absolute;
        z-index: -10;
        bottom: 0px;
        left: -40px;
        width: 61px;
        height: 61px;
        border-radius: 50%;
        background-color: #ff9a76; }
  .mf__container .mf__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    padding: 0px 41px; }
    .mf__container .mf__row:nth-of-type(odd) {
      flex-direction: row-reverse; }
      .mf__container .mf__row:nth-of-type(odd) .mf__img .mf__img-container .mf__img-overlay {
        transform: translate(-25px, 25px); }
    .mf__container .mf__row .mf__img {
      flex-basis: 50%;
      min-width: 200px; }
      .mf__container .mf__row .mf__img .mf__img-container {
        width: calc((547 / 645) * 100%);
        position: relative; }
        .mf__container .mf__row .mf__img .mf__img-container img {
          display: block;
          width: calc((547 / 645) * 100%);
          height: auto;
          position: relative;
          z-index: 3; }
        .mf__container .mf__row .mf__img .mf__img-container .mf__img-overlay {
          width: calc((547 / 645) * 100%);
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          background-color: #ffeadb;
          transform: translate(25px, 25px); }
    .mf__container .mf__row .mf__text {
      flex-basis: 50%; }
      .mf__container .mf__row .mf__text .mf__text-wrapper {
        width: calc((484 / ((1366 - 41 * 2) / 2)) * 100%); }
        .mf__container .mf__row .mf__text .mf__text-wrapper .mf__feature-name {
          color: black;
          font-size: 32px;
          font-weight: 600; }
        .mf__container .mf__row .mf__text .mf__text-wrapper .mf__feature-description {
          color: #637373;
          font-size: 16px;
          font-weight: 300; }

.of__container {
  z-index: 1;
  display: flow-root;
  background-color: #fffbf7;
  position: relative;
  padding-bottom: 134px; }
  .of__container .of__head {
    display: flex;
    justify-content: center; }
    .of__container .of__head .of__title {
      position: relative;
      z-index: 1;
      z-index: 3;
      display: inline-block;
      color: black;
      font-size: 42px;
      font-weight: 600;
      text-align: center;
      margin-top: 89px; }
      .of__container .of__head .of__title .of__circle-shape {
        position: absolute;
        z-index: -10;
        bottom: 0px;
        left: -40px;
        width: 61px;
        height: 61px;
        border-radius: 50%;
        background-color: #ff9a76; }
  .of__container .of__card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-around; }
    .of__container .of__card-container .of__card {
      flex-basis: 22%;
      min-width: 300px;
      margin-bottom: 30px;
      background: #ffffff;
      box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.08);
      border-radius: 7.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px; }
      .of__container .of__card-container .of__card h3 {
        color: black;
        text-align: center;
        font-weight: 600;
        font-size: 28px; }
      .of__container .of__card-container .of__card p {
        font-size: 16px;
        color: #637373;
        font-weight: 300;
        text-align: center;
        font-style: italic; }

.ba__container {
  background-image: url("../images/background_2.png");
  position: relative;
  height: 37vw; }
  .ba__container .ba__text-block {
    position: absolute;
    top: calc(122 / 765 * 100%);
    right: calc(105 / 1366 * 100%); }
    .ba__container .ba__text-block .ba__title {
      color: white;
      font-size: 80px;
      font-weight: 800;
      margin-bottom: 14px; }
    .ba__container .ba__text-block .ba__description {
      color: white;
      font-size: 28px;
      font-weight: 300; }

.me__container {
  background-color: #fffbf7;
  width: 100%;
  padding: 150px; }
  .me__container .me__head {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    .me__container .me__head .me__title {
      position: relative;
      z-index: 1;
      bottom: 0px;
      margin-bottom: 0px;
      display: inline-block;
      color: black;
      font-size: 42px;
      font-weight: 600;
      text-align: center; }
      .me__container .me__head .me__title .me__circle-shape {
        position: absolute;
        bottom: 0px;
        left: -40px;
        z-index: -10;
        width: 61px;
        height: 61px;
        border-radius: 50%;
        background-color: #ff9a76; }
  .me__container .me__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .me__container .me__card-container .me__card {
      flex-basis: 25%;
      min-width: 248px;
      padding: 34px; }
      .me__container .me__card-container .me__card:hover {
        background: #ffffff;
        box-shadow: 2px 2px 30px 4px rgba(255, 154, 118, 0.25);
        border-radius: 10px; }
      .me__container .me__card-container .me__card:hover .me__card-action {
        visibility: visible;
        opacity: 1; }
      .me__container .me__card-container .me__card .me__card-avatar img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0 auto;
        display: block; }
      .me__container .me__card-container .me__card .me__card-member-name {
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 8px; }
      .me__container .me__card-container .me__card .me__card-member-role {
        color: black;
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        margin-bottom: 14px; }
      .me__container .me__card-container .me__card .me__card-action {
        transition: visibility 0.3s linear, opacity 0.3s linear;
        visibility: hidden;
        opacity: 0;
        display: flex;
        justify-content: center; }
        .me__container .me__card-container .me__card .me__card-action .me__card-icon:nth-child(2n + 1) {
          margin-right: 15px; }

.survey-container {
  width: 100%;
  background-color: #ff9a76;
  padding: 30px 100px;
  border-radius: 10px;
  margin-top: 50px; }
  .survey-container .survey-description {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: center; }
  .survey-container .survey-button {
    display: block;
    width: 20%;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 0 auto; }

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffeadb;
  width: 100%;
  padding: 33px 57px; }
  .footer .footer__left {
    width: 50%; }
    .footer .footer__left .footer__app-name {
      color: #333;
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 15px; }
    .footer .footer__left .footer__app-description {
      color: #333;
      font-size: 20px;
      font-weight: 600;
      width: 70%; }
    .footer .footer__left .footer__trademark {
      display: flex; }
  .footer .footer__right {
    width: 50%; }
    .footer .footer__right .footer__contact .footer__contact-title {
      color: #333;
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 15px; }
    .footer .footer__right .footer__contact .footer__contact-description {
      color: #333;
      font-size: 20px;
      font-weight: 600; }
    .footer .footer__right form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .footer .footer__right form .footer__form-col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%; }
        .footer .footer__right form .footer__form-col-1 input {
          width: 100%;
          height: 42px;
          background: #fffbf7;
          border-style: none;
          border-radius: 2.5px;
          font-size: 12px;
          padding: 13px; }
      .footer .footer__right form .footer__form-col-2 {
        width: 35%; }
        .footer .footer__right form .footer__form-col-2 textarea {
          width: 100%;
          height: 98px;
          background: #fffbf7;
          border-style: none;
          border-radius: 2.5px;
          font-size: 12px;
          padding: 13px; }
      .footer .footer__right form .footer__form-col-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 10%; }
        .footer .footer__right form .footer__form-col-3 button {
          width: 100%;
          border-style: none;
          background: #ff9a76;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
          border-radius: 2.5px;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: white;
          padding: 3px 7px; }

@media screen and (max-width: 1024px) {
  .header__container .header__audio-loop-block {
    width: 70%; }
    .header__container .header__audio-loop-block .header__button-container .header__download-btn {
      width: auto;
      padding: 0px 15px; }
      .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
        margin: 0px 10px 0px 0px; }

  .survey-container .survey-button {
    width: 50%; } }
@media screen and (max-width: 800px) {
  .header__container .header__audio-loop-block {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 20px; }
    .header__container .header__audio-loop-block h1 {
      font-size: 60px; }
    .header__container .header__audio-loop-block .header__button-container .header__download-btn {
      width: auto;
      padding: 0px 15px; }
      .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
        margin: 0px 10px 0px 0px; }

  .survey-container {
    padding: 30px; } }
@media screen and (max-width: 500px) {
  .header__container {
    max-width: 100%;
    width: 100%;
    height: 500px;
    background-color: #637373;
    background-position: center; }
    .header__container .header__audio-loop-block {
      height: 100%; }
      .header__container .header__audio-loop-block h1 {
        font-size: 50px;
        text-align: center; }
      .header__container .header__audio-loop-block p {
        font-size: 20px;
        text-align: center; }
      .header__container .header__audio-loop-block .header__button-container {
        justify-content: space-around; }
        .header__container .header__audio-loop-block .header__button-container .header__download-btn {
          flex-basis: 45%;
          margin-right: 0;
          padding: 0 3px; }
          .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
            margin: 0; }

  .dyk__container .dyk__footer .dyk__footertext {
    font-size: 16px; }

  .mf__container .mf__row .mf__img {
    flex-basis: 100%;
    margin-bottom: 30px; }
    .mf__container .mf__row .mf__img .mf__img-container {
      width: 100%; }
  .mf__container .mf__row .mf__text {
    flex-basis: 100%;
    text-align: center; }
    .mf__container .mf__row .mf__text .mf__text-wrapper {
      width: 100%; }
      .mf__container .mf__row .mf__text .mf__text-wrapper .mf__feature-name {
        font-size: 28px; }

  .ba__container {
    background-image: url("../images/background_2.png");
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vw; }
    .ba__container .ba__text-block {
      position: static;
      width: 80%; }
      .ba__container .ba__text-block .ba__title {
        color: white;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 14px; }
      .ba__container .ba__text-block .ba__description {
        color: white;
        font-size: 16px;
        font-weight: 300; }

  .me__container {
    padding: 150px 10px; }
    .me__container .survey-container {
      padding: 30px 0px; }
      .me__container .survey-container .survey-button {
        width: 50%; }

  .footer {
    flex-direction: column-reverse;
    padding: 10px; }
    .footer .footer__left {
      width: 100%; }
      .footer .footer__left .footer__app-description {
        width: 70%; }
    .footer .footer__right {
      width: 100%; }
      .footer .footer__right form div {
        margin-bottom: 30px; }
      .footer .footer__right form .footer__form-col-1 {
        width: 100%;
        margin-bottom: 0px; }
        .footer .footer__right form .footer__form-col-1 input {
          margin-bottom: 30px; }
      .footer .footer__right form .footer__form-col-2 {
        width: 100%; }
      .footer .footer__right form .footer__form-col-3 {
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
