* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  background-color: #ffeadb; }

.header__container {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 735px;
  z-index: 1;
  display: flow-root;
  background-color: #637373;
  background-image: url("../images/background_1.png"); }
  .header__container .header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #679b9b;
    opacity: 0.3; }
  .header__container .header__audio-loop-block {
    position: absolute;
    width: calc((500 / 1366) * 100%);
    height: calc((318 / 765) * 100%);
    margin-left: calc((103 / 1366) * 100%);
    margin-top: calc((186 / 1366) * 100%);
    z-index: 3; }
    .header__container .header__audio-loop-block h1 {
      color: white;
      font-weight: 800;
      font-size: 80px;
      font-family: Nutr; }
    .header__container .header__audio-loop-block p {
      color: white;
      font-weight: 600;
      font-size: 28px;
      text-align: center; }
    .header__container .header__audio-loop-block .header__button-container {
      display: flex;
      flex-wrap: wrap; }
      .header__container .header__audio-loop-block .header__button-container .header__download-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        background-color: #ff9a76;
        text-decoration: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: calc((189 / 500) * 100%);
        height: calc((68 / 318) * 100%);
        margin-right: calc((30 / 500) * 100%); }
        .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
          width: 35px;
          height: 35px;
          display: block;
          margin: 0 21px; }
        .header__container .header__audio-loop-block .header__button-container .header__download-btn p {
          display: block;
          color: white;
          font-weight: 300;
          font-size: 16px; }
          .header__container .header__audio-loop-block .header__button-container .header__download-btn p span {
            font-weight: 600; }

.dyk__container {
  position: relative;
  z-index: 1;
  display: flow-root; }
  .dyk__container .dyk__circle-shape {
    position: absolute;
    z-index: 2;
    width: 61px;
    height: 61px;
    left: 534px;
    top: 97px;
    border-radius: 50%;
    background-color: #ff9a76; }
  .dyk__container .dyk__title {
    position: absolute;
    z-index: 3;
    width: 100%;
    color: black;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin-top: 110px; }
  .dyk__container .dyk__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(110px + 42px + 100px);
    margin-bottom: 100px; }
    .dyk__container .dyk__card-container .dyk__card {
      flex-basis: 20%;
      padding: 0 50px;
      text-align: center; }
      .dyk__container .dyk__card-container .dyk__card .dky__card-number {
        color: #ff9a76;
        font-size: 42px; }
      .dyk__container .dyk__card-container .dyk__card .dyk__card-text {
        font-size: 16px;
        color: black; }
  .dyk__container .dyk__footer {
    background-color: #ff9a76;
    text-align: center;
    padding: 47px 0; }
    .dyk__container .dyk__footer .dyk__footertext {
      color: white;
      font-size: 20px;
      font-style: italic; }
      .dyk__container .dyk__footer .dyk__footertext strong,
      .dyk__container .dyk__footer .dyk__footertext b {
        font-weight: 800; }

@media screen and (max-width: 1024px) {
  .header__container .header__audio-loop-block {
    width: 70%; }
    .header__container .header__audio-loop-block .header__button-container .header__download-btn {
      width: auto;
      padding: 0px 15px; }
      .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
        margin: 0px 10px 0px 0px; } }
@media screen and (max-width: 800px) {
  .header__container .header__audio-loop-block {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 20px; }
    .header__container .header__audio-loop-block h1 {
      font-size: 60px; }
    .header__container .header__audio-loop-block .header__button-container .header__download-btn {
      width: auto;
      padding: 0px 15px; }
      .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
        margin: 0px 10px 0px 0px; } }
@media screen and (max-width: 500px) {
  .header__container {
    max-width: 100%;
    width: 100%;
    height: 735px;
    background-color: #637373; }
    .header__container .header__audio-loop-block {
      height: 100%; }
      .header__container .header__audio-loop-block h1 {
        font-size: 50px;
        text-align: center; }
      .header__container .header__audio-loop-block p {
        font-size: 20px; }
      .header__container .header__audio-loop-block .header__button-container {
        justify-content: space-around; }
        .header__container .header__audio-loop-block .header__button-container .header__download-btn {
          flex-basis: 45%;
          margin-right: 0;
          padding: 0 3px; }
          .header__container .header__audio-loop-block .header__button-container .header__download-btn img {
            margin: 0; } }

/*# sourceMappingURL=style.css.map */
